
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoVisitas</title>
</head>
<body>
    <div>
        @Html.Raw(ViewData["libro"])
        <!--Ahora mediante Razor podemos recuperar los datos almacenados
        en el diccionario ViewData que cargamos en el "Controlador"
        como tenemos marcas HTML en el archivo de texto no aparecen correctamente. 
            Debemos utilizar el método Raw de HTML para su correcta visualización.-->
        <br />
        <a href="/">Retornar</a>
    </div>
</body>
</html>
