
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantel2</title>
</head>
<body>
    <div>
        <h1>Jugadores</h1>
        <p>
            Juan<br>
            Pedro<br>
            Luis
        </p>
    </div>
</body>
</html>
